<script type="text/javascript">
    $(window).scroll(function() {
        $('.main-header').toggleClass('scrolled', $(this).scrollTop() > 1);
        console.log("scrolled");
    });
  </script>
</body>
</html>