
.btn
{
    margin-top: 20px;
}
.card-text
{
    color: black;
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    
}

.con-style{
    margin: 200px auto;
}

.card-style{
    width: auto;
    margin:10px auto;
    float:left
}

p{
    color: black;
}

.img-div-set{
	height: 297px;
	width: 523px;
	object-fit: cover;
}

.img-set{
	height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
}

.bgd{
    background-color: #ecdada;
}

html{
    background-color: #ecdada;
}
